form {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1{
    position: fixed;
    font-size: 200%;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

p{
    position: fixed;
    font-size: 100%;
    top: 57%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

button{
    position: fixed;
    top: 55.5%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#pAppear{
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
}